<%= render "form" %>
<div class="infinite-table">
  <div class="ws2">
  <table>
    <thead>
      <tr><th colspan="6"></th></tr>
    </thead>
    <tbody>
      <%= render :partial => '/shared/posts/lists', :object => @posts if @posts %>    
    </tbody>
  </table>
  <p class="pagination">
    <%= link_to_next_page(@posts, 'Next Page', :remote => true) if @posts %>
  </p>
  </div>  
</div>