<%= link_to '戻る', profiles_path, {class: 'second'} %>
<div class="main_box2">
  <div class="main_box_in">
    <h1>登録情報変更</h1>
    <h2 class="title">基本情報</h2>
    <%= simple_nested_form_for @user, {:url => "/profiles/#{current_user.id}"} do |f| %>
      <%= render '/shared/users/form', :f => f %>
    <% end %>
  </div>
</div>    
  