
<div class="ws2">
<h1>Schedules</h1> <%= link_to "予約一覧", reservations_specialists_schedules_path %>
  <div class="log">
    <div id="schedules_calendar">
      <%= render '/shared/schedules/calendar', user: current_specialist %>
    </div>
  </div>    
</div>  

