<h1>Schedules</h1>
<div id="schedules_calendar">
  <%= render '/shared/schedules/calendar', user: current_specialist %>
</div>
<br>

<%= link_to 'New Schedule', new_specialists_schedule_path, class: "fancybox fancybox.iframe btn btn-default btn-sm", style: 'float:right;', 'data-width' => "640", 'data-height' => "360" %>
