<div class="main_box2">
  <div class="main_box_in">
    <h1><%= _('Schedules') %></h1>
    <h2><%= link_to _('Listings Reservation'), reservations_specialists_schedules_path %></h2>

      <div class="log">
        <div id="schedules_calendar">
          <%= render '/shared/schedules/calendar', user: current_specialist %>
        </div>
      </div>    
  </div>    
</div>
