<h1><%= _('New Specialist') %></h1>
<%= simple_nested_form_for  ([:admins, @specialist]) do |f| %>
  <%= render '/shared/specialists/registration', :f => f %>
<% end %>
<%= link_to _('Back'), admins_specialists_path %>
