<p id="notice"><%= notice %></p>
<h2>Basic Profile</h2>
<%= render '/shared/specialists/profile' %>
<%= link_to 'Edit Basic Profile ', edit_admins_specialist_path(@specialist) %> |
<%= link_to 'Back', admins_specialists_path %>

<hr>

