<%= link_to _('Back'), specialists_posts_path, {class: 'second'} %>
<h1><%= _('Editing Post') %></h1>

<%= render 'form' %>

<div class="edit">
  <%= render "/shared/posts/attachment" %>
</div>

<script>
  $("#head").show();
</script>