
<%= form_for(Attachment.new, html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :upload %><br>
    <%= f.submit "Upload my Avatar" %>
  </div>
<% end %>

