<h1>Editing User</h1>

<%= simple_nested_form_for  ([:admins, @user]) do |f| %>
  <%= render '/shared/users/form', :f => f %>
<% end %>

<%= link_to 'Show', [:admins, @user] %> |
<%= link_to 'Back', admins_users_path %>
