<h1 class="movieh1">学習・視聴</h1>
<!-- main　ここまで -->
<div id="main">

  <div class="main_box3">
    <div class="main_box_in">
      <h2>カテゴリから講座を探す</h2>
      <%= select_tag :field_select, options_for_select(SpecializedField.where(:deleted => false).order(:sort_no).map{|f|["#{f.name}に関する学習", f.id]}), {:prompt =>"学習カテゴリを選んでください"}%>
      
      <h2>講座一覧</h2>

      
        <div class="infinite-table">
          <table >
            <tbody>
              <%= render :partial => 'courses', :object => @courses if @courses %>   
            </tbody>
          </table>
          <p class="pagination">
            <%= link_to_next_page(@courses, 'Next Page', :remote => true) if @courses %>
          </p>
        
     </div>
   </div>
</div>


<%= javascript_tag do %>
  $("select#field_select").change(function(){
     $.ajax({
       url: "/study/courses/search",
       type: "GET",
       data: {specialized_field_id: $(":selected").attr("value")},
       dataType: "html",
       success: function(data) {
         $('.infinite-table').html(data)
       },
       error: function(data) {
         alert("エラーが発生しました");
       }
    });
  });
<% end %>