<% if current_specialist %>
  <div class="page-header">
    <h1><%= current_specialist.name %></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong><%= link_to "Posts", specialists_posts_path %></strong></li>
        <li><strong><%= link_to 'Change Password', edit_specialist_registration_path %></strong></li>
      </ul>
    </div>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>