<table>
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th><%= _('Created') %></th>      
    </tr>    
  </thead>
  <tbody>
    <% @user.supervised_users.each do |supervisor|%>
      <tr>
        <td><%= supervisor.admin_user.try(:name)%></td>
        <td><%= supervisor.try(:created_at)%></td>        
      </tr>
    <% end %>
  </tbody>
</table>  