.simple-calendar {
  .has-events {
    background-color: #D0F9D8;
  }
  
  .sat {
    background-color: #def !important;
  } 
  .has-holiday, .sun {
    background-color: #fdd !important;
  }
  
  .prev-month, .next-month { color: #aaa; }
}