<p id="notice"><%= notice %></p>
<h1>Specialist Profile</h1>

<%= render '/shared/specialists/profile' %>

<br>

<%= link_to 'Edit Profile', edit_specialists_profile_path(@specialist) %> |
<%= link_to 'Change Password', edit_specialist_registration_path %>


<br>

